body{
	font-size: 1em;
}
div.logowanie{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
div.logowanie h1{
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}
div.logowanie form input{
	margin-top: 2px;
	width: 190px;
	background: #CCC;
	border: 1px solid black;
	font-size: 0.8em;
}

div.message{
	border: 1px solid black;
	width: calc(100% - 10px);
	padding: 5px;
	background: #DDD;
	margin-bottom: 5px;
	margin-top: 5px;
}
div.message.green{
	background: #BBFFBB;
}
div.message.red{
	background: #FF9999;
}

body.main{
	margin: 0px;
}
body.main a{
	text-decoration: none;
}
body.main hr{
	border: none;
	border-bottom: 1px solid black;
	margin-top: 3px;
	margin-bottom: 3px;
}
body.main h1{
	padding: 0px;
	margin: 0px;
	font-size: 2em;
}
body.main h1.bg{
	padding-left: 5px;
	margin-bottom: 3px;
	border-bottom: 1px solid black;
}
body.main div.tresc div.menu{
	background: white;
}
body.main div.tresc div.menu a{
	color: black;
}

div.menu{
	color: white;
	position: relative;
	background: #1d292b;
	padding: 2px;
	color: white;
	height: 25px;
}
div.menu a{
	color: white;
	margin-right: 5px;
	display: block;
	float: left;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

div.menu2{
	color: white;
	background: blue;
	width: calc(250px - 4px);
	position: fixed;
	height: calc(100% - 30px);
	background: #1d292b;
	border-top: 1px solid white;
	color: white;
	overflow: auto;
}
div.menu2 a{
	color: white;
	display: block;
	padding: 3px;
	background: #28383B;
	margin-bottom: 2px;
	padding-left: 5px;
	border-left: 5px solid #28383B;
}
div.menu2 a:hover{
	border-left: 5px solid #53747A;
}
div.menu2 h1{
	background: #2B3F43;
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
}

div.tresc{
	float: left;
	width: calc(100% - 250px - 4px);
	padding: 2px;
	position: fixed;
	right: 0px;
	height: calc(100% - 35px);
	overflow: auto;
	padding-bottom: 5px;
}
div.tresc a.button{
	background: #DDD;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 0.9em;
	padding-left: 2px;
	padding-right: 2px;
	color: black;
}
div.tresc a.button.disabled{
	color: #CCC;
}

table{
	font-size: 1em;
}
table th.dbid{
	width: 100px;
	text-decoration: underline;
}
table.title tr:first-child{
	background: #CCC;
	font-weight: bold;
}
table.border {
  border-collapse: collapse;
}
table.border, table.border th, table.border td {
  border: 1px solid black;
}
table.twoData{
	width: 100%;
}
table.twoData tr td:first-child{
	width: 20%;
}
table.maxWidth{
	width: 100%;
}
table.formFormat input{
	width: calc(100% - 4px);
}
table.formFormat input[type=submit]{
	width: 100%;
}